# ----------[ Application ]----------------------------------------
node_modules
dist
*.log
!node_modules/sam-resume

# ----------[ OS Stuff ]----------------------------------------
# OSX Metadata
.DS_Store
