
extends template.jade
include mixins.jade

- files = [ "Project 1 - Objective-C and JSON.html", \
			"Project 2 - Augmented Reality Integrtation.html",
			"WebFetch.html"]

block body
	h1 KloudNation 
	ul.nav.nav-pills.nav-stacked
		li.active 
			a Projects
			li
				a(href='Project 1 - Objective-C and JSON.html') Project 1 - Objective-C and JSON
				a(href='Project 2 - Augmented Reality Integrtation.html') Project 2 - Augmented Reality Integrtation
				a(href='WebFetch.html') WebFetch
