doctype xml
extends data.jade

mixin GOVT(text, start, end, done)
	+entry(text, start, end, done ? "#888" : "#44F")

block events
	+GOVT("Government", "23 Aug")
	+GOVT("Chapter 1" , "25 Aug", "27 Aug", "done")
	+GOVT("Chapter 2" , "27 Aug", "8 Sep")
	+GOVT("Chapter 3" , "8 Sep" , "15 Sep")
	+GOVT("Chapter 4" , "15 Sep", "22 Sep")
	+GOVT("Chapter 5" , "22 Sep", "29 Sep")
	+GOVT("Chapter 6" , "1 Oct" , "6 Oct")
	+GOVT("Chapter 7" , "6 Oct" , "8 Oct")
	+GOVT("Chapter 8" , "8 Oct" , "15 Oct")
	+GOVT("Chapter 9" , "15 Oct", "22 Oct")
	+GOVT("Chapter 10", "22 Oct", "27 Oct")
	+GOVT("Chapter 11", "29 Oct", "3 Nov")
	+GOVT("Chapter 12", "3 Nov" , "5 Nov")
	+GOVT("Chapter 13", "5 Nov" , "10 Nov")
	+GOVT("Chapter 14", "10 Nov", "12 Nov")
	+GOVT("Chapter 15", "12 Nov", "17 Nov")
	+GOVT("Chapter 16", "17 Nov", "19 Nov")
	+GOVT("Chapter 17", "19 Nov", "3 Dec")
	+GOVT("Chapter 18", "3 Dec" , "4 Dec")
	+GOVT("Test 1", "29 Sep") Chapters 1 - 5
	+GOVT("Test 2", "27 Oct") Chapters 6 - 10
	+GOVT("Test 3", "10 Dec") Chapters 11 - 18
	+GOVT("First paper", "6 Oct")
	+GOVT("Second paper", "10 Nov")
	+GOVT("Second paper", "19 Nov")
