doctype xml
extends data.jade

mixin HUMA(text, start, end, done)
	+entry(text, start, end, done ? "#888" : "#848")

block events
	+HUMA("Humanities", "23 Aug")
	+HUMA("Introduction", "25 Aug")
	+HUMA("Chapter 1" , "27 Aug", "8 Sep" , "done")
	+HUMA("Chapter 2" , "8 Sep" , "15 Sep")
	+HUMA("Chapter 3" , "15 Sep", "24 Sep")
	+HUMA("Chapter 4" , "24 Sep", "29 Sep")
	+HUMA("Chapter 5" , "29 Sep", "1 Oct" )
	+HUMA("Chapter 6" , "1 Oct" , "8 Oct" )
	+HUMA("Chapter 7" , "8 Oct" , "13 Oct")
	+HUMA("Chapter 8" , "13 Oct", "22 Oct")
	+HUMA("Chapter 9" , "22 Oct", "27 Oct")
	+HUMA("Chapter 10", "27 Oct", "29 Oct")
	+HUMA("Chapter 11", "29 Oct", "5 Nov" )
	+HUMA("Chapter 12", "5 Nov" , "12 Nov")
	+HUMA("Chapter 13", "12 Nov", "17 Nov")
	+HUMA("Chapter 14", "17 Nov", "19 Nov")
	+HUMA("Chapter 15", "19 Nov", "24 Nov")
	+HUMA("Syllabus Quiz", "27 Aug")
	+HUMA("Quiz #1", "15 Sep")
	+HUMA("Quiz #2", "29 Sep")
	+HUMA("Quiz #3", "13 Oct")
	+HUMA("Quiz #4", "5 Nov")
	+HUMA("Quiz #5", "19 Nov")
	+HUMA("Creative Project Presentations", "24 Nov", "3 Dec")
	+HUMA("Final Exam", "8 Dec")
