@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-jetbrains);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --font-jetbrains: var(--font-jetbrains);
    --font-geist-sans: var(--font-geist-sans);
  }
}

html,
body {
  height: 100%;
}
